CRM_ENVIRONMENT=development
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=anqiao_crm_development
DATABASE_USER=anqiao_crm_app
DATABASE_PASSWORD=<set-at-runtime>
DATABASE_SSLMODE=prefer
AI_ENABLED=false
